.root {
  cursor: pointer;
  user-select: none;

  position: relative;
  transform-style: preserve-3d;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-light-100);

  perspective: 600px;
  background: var(--color-info-700);
  border: none;
  border-radius: 9px;
  outline: none;

  transition: transform 0.1s;

  &:active {
    transform: scale(0.93);
    transition: 0.3s;
  }

  &:disabled {
    transform: none;
    background: var(--color-disabled);
    transition: none;

  }
}

.fullWidth {
  width: 100%;
}