.box {
  position: relative;

  display: flex;
  align-items: center;

  max-width: 100%;
  padding: 5px;


  border: 2px solid var(--color-accent-500);
  border-radius: 16px;
  outline: none;

  &.disabled {
    user-select: none;
    border: 2px solid var(--color-disabled);
  }


  .field {
    width: 100%;
    padding: 16px;

    font-size: 100%;
    color: var(--color-light-100);

    background-color: transparent;
    border: none;
    outline: none;

    &:disabled {
      color: var(--color-disabled);
    }

    &:focus ~ label {
      color: var(--color-light-100);
    }

    &:is(input:focus, input:valid) ~ label {
      transform: translateY(-85%) scale(.9);
      margin-left: 24px;
      padding: 8px;
      background-color: var(--bg-color);
    }
  }

  .label {
    pointer-events: none;

    position: absolute;
    left: 0;

    margin-left: 8px;
    padding: 16px;

    color: var(--color-accent-500);

    transition: all 0.3s ease;

    &.disabled {
      color: var(--color-disabled);
    }

  }

  .iconButton {
    margin-right: 8px;
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      outline: 1px solid var(--color-accent-500);
    }
  }

  .icon {
    fill: var(--color-light-900);

    &.disabled {
      fill: var(--color-disabled)
    }

    &[data-icon='none'] {
      display: none;
    }
  }

}
