.box {
  position: relative;
  max-width: 100%;
  margin: 16px 0;

  .field {
    width: 100%;
    padding: 16px;

    font-size: 100%;
    color: var(--color-light-100);

    background-color: transparent;
    border: 2px solid var(--color-accent-500);
    border-radius: 20px;
    outline: none;
  }

  .label {
    pointer-events: none;

    position: absolute;
    left: 0;

    margin-left: 8px;
    padding: 16px;

    color: var(--color-light-100);

    transition: all 0.3s ease;
  }

  .field:focus, .field:focus-visible {
    border-color: var(--color-accent-300);

    ~ label {
      transform: translateY(-50%) scale(.9);
      margin-left: 24px;
      padding: 8px;
      background-color: var(--bg-color);
    }
  }

  .icon {
    position: absolute;
    top: 30%;
    right: 6%;

    &[data-icon='none'] {
      display: none;
    }
  }
}