.root {
  all: unset;

  cursor: pointer;
  user-select: none;

  position: relative;
  transform-style: preserve-3d;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ff7576;

  perspective: 600px;
  background-color: #2B3044;
  border: none;
  border-radius: 9px;
  outline: none;
  box-shadow: 0 1px 2px #2B3044,
  0 4px 16px #2B3044;

  transition: transform 0.1s;

  &:active {
    transform: scale(0.93);
    transition: 0.3s;
  }
}

.fullWidth {
  width: 100%;
}