.card {
  display: grid;
  gap: 40px;
  width: 480px;
  padding: 32px;

  .root {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .field {
      margin-bottom: 5px;
    }
    
  }

  .info {
    text-align: center;
  }
}

