.card {
  display: grid;
  gap: 50px;
  min-width: 760px;
  padding: 32px;

  .root {
    display: flex;
    flex-direction: column;
    gap: 45px;

    .buttons {
      display: flex;
      flex-direction: row-reverse;
      gap: 16px;
    }
  }
}

