.root{
  background-image: radial-gradient(circle at top right, rgb(78 78 78) 0%, rgb(78 78 78) 1%,rgb(72 72 72) 1%, rgb(72 72 72) 10%,rgb(65 65 65) 10%, rgb(65 65 65) 22%,rgb(59 59 59) 22%, rgb(59 59 59) 23%,rgb(53 53 53) 23%, rgb(53 53 53) 28%,rgb(46 46 46) 28%, rgb(46 46 46) 37%,rgb(28 28 33) 37%, rgb(28 28 33) 100%);;
  border: 2px solid var(--color-dark-500);
  border-radius: 16px;
}